.notification-bottom {
	text-align: right;
	font-size: 11px;
	margin-right: 10px;
	margin-left: 10px;
	min-width: 100px;
}

.notification-container {
	position: fixed;
	bottom: -5px;
	right: -5px;
	border-radius: 10px;
	background-color: #f6f6f6;
	color: #3d3d3d;
}

progress {
	accent-color: #dc2c41;
}
.notification-button {
	float: left;
	margin-right: 5px;
	padding-right: 5px;
	border-right: solid 1px #d4d4d4;
}
.notification-action {
	border: none;
	background-color: transparent;
}
.notification-action:hover {
	background-color: #d4d4d4;
}
